#search-bar button {
	color: #fff;
	background-color: #39b54a;
	font-family: 'Open Sans Light';
	font-weight: 600;
	width: 150px;
	height: 35px;
	margin-left: 10px;
	border: none;
}

#search-bar button:focus {
	outline: none;
	box-shadow: none;
	border: none;
}

#search-bar input {
	width: 350px;
	height: 35px;
	padding-left: 40px;
}

#search-bar .search-input {
	position: relative;
}

#search-bar .search-input svg {
	position: absolute;
	top: 7px;
	left: 14px;
}

/* Mobile */
@media (max-width: 480px) {
	#search-bar input {
		margin-bottom: 20px;
	}

	#search-bar button {
		margin: 0;
	}
}
